:root {

  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2937;
  background-color: #f6f7fb;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


* {
  box-sizing: border-box;

}

body {
  margin: 0;
}

a {
  text-decoration: none;

}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}
